@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-black-shadow: rgba(0, 0, 0, .25);
  --color-header-bg: #FF5900;
  --color-side-nav-bg: #111;
  --color-logout-button-bg: #FBD641;
  --color-current-nav-text: #FFFF00;
  --color-auth-form-bg: #F9F9F9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Inter';
}

html {
  font-size: 62.5%;
}