#wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgotpass-container {
  padding: 2rem;

  width: 40rem;
  height: 22.5rem;

  background-color: var(--color-auth-form-bg);

  box-shadow: 3px 3px 8px 3px var(--color-black-shadow);
  border-radius: 8px;

  transition: 300ms;
}

@media (max-width: 425px) {
  .forgotpass-container {
    padding-top: 32vh;

    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;

    transition: 300ms;
  }

  .forgotpass-container {
    box-shadow: none;
  }

  .forgotpass-container > p {
    text-align: center;
  }
}


.forgotpass-container > h2 {
  text-align: center;
  font-size: 2.5rem;
}

.forgotpass-container > p {
  padding-top: 3rem;
  padding-bottom: 1.2rem;

  font-size: 1.4rem;
}

.forgotpass-container > form {
  display: flex;
  flex-direction: column;
}

#email {
  padding: 1.5rem;
  margin-bottom: 1rem;

  background-color: #CECCCC;

  font-size: 1.2rem;
  font-weight: 700;

  border: none;
  border-radius: 13px;
}

#forgotpass_btn {
  padding: 1rem;

  background-color: #EFBD46;

  font-size: 1.5rem;
  font-weight: 700;

  border: none;
  border-radius: 13px;

  cursor: pointer;
}

#forgotpass_btn:hover {
  background-color: #cca240;

  transition: background ease 250ms;
}